$background-color: #333a46 !default;
$secondary-color: #393e46 !default;
$other-background-color: #494f59 !default;
$primary-color: #d67358 !default;
$accent-color: #cecccc !default;
$card-background-color: #2d3440 !default;